.example {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  margin: 2rem 0;

  @media (min-width: 800px) {
    flex-direction: row;
    justify-content: space-between;
  }

  pre {
    width: 100%;

    @media (min-width: 800px) {
      margin-left: 2rem !important;
    }
  }
}
