::selection {
  background-color: #ffa500;
  color: #fff;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(220, 220, 220);
  color: #333;
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.875rem;

  @media (min-width: 45.625em) {
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

hr {
  border-radius: 50%;
  border-top: 1px solid #ddd;
  margin: 1.8rem 0;
  width: 100%;
}

button {
  background-color: #1e80ff;
  border: none;
  box-shadow: 1px 1px 6px #222;
  color: #ccc;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.8rem 1.5rem;
  transition: 160ms box-shadow ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 1px 1px 8px #222;
  }
}
