::selection {
  background-color: orange;
  color: #fff;
  text-shadow: none;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(220, 220, 220);
  color: #333;
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.875rem;
  margin: 0;

  @media (min-width: 45.625em) {
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  user-select: none;
}

hr {
  border-top: 1px solid #ddd;
  width: 100%;
  border-radius: 50%;
  margin: 1.8rem 0;
}
