@use "sass:color";
@use "./variables" as *;

.code {
  background-color: color.adjust(#fafafa, $alpha: -0.5);
  color: $orange;
  font-family: "Courier New", Courier, monospace;
  font-size: 90%;
  word-wrap: break-word;
}
