@use "./variables" as *;

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;

  img {
    block-size: 4rem;
    inline-size: 4rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-evenly;
    list-style-type: none;
    padding-inline-start: 0;
  }
}
