@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner {
  height: 5rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 5rem;

  &:hover {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }

  svg {
    border: 0;
    color: #fff;
    fill: #151513;
    transform: scale(-1, 1);
  }

  .octo-arm {
    transform-origin: 8.125rem 6.625rem;
  }
}

@media (max-width: 31.25em) {
  .github-corner {
    &:hover {
      .octo-arm {
        animation: none;
      }
    }

    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
