.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: center;

  h2 {
    font-size: 1.3rem;
    margin: 0;
  }

  &__gh-stars {
    height: 2rem;

    &:hover,
    &:focus {
      filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.1)) invert(5%);
    }

    img {
      height: 100%;
    }
  }

  .features {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    gap: 2rem;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 2rem;
    padding-left: 0;

    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
