.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;

  &__logo {
    max-height: 16rem;
  }

  &__subHeader {
    font-size: 1.4rem;
    margin: 0;
    margin-top: 1rem;
    text-align: center;
  }

  &__bullets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 1.5rem;
    padding-left: 0;
    text-align: center;
    width: 100%;

    > li {
      margin: 0.5rem 2rem;
      min-width: 4rem;
    }
  }

  p {
    margin-top: 1.2rem;
    text-align: center;
  }

  &__features {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 3rem;

    + ul {
      align-self: flex-start;
      margin-top: 1rem;
      text-align: left;
    }
  }
}
