.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;

  img {
    max-height: 16rem;
  }

  h1,
  h2 {
    margin: 0;
    text-align: center;
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  p {
    margin-top: 1.8rem;
  }

  ul {
    margin-top: 1rem;
    text-align: left;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 3rem;
  }

  h3,
  ul {
    align-self: flex-start;
  }
}
