@import "./global";
@import "./header";
@import "./footer";
@import "./sample";
@import "./link";
@import "./github-corner";
@import "./code";

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 68rem;
  min-height: 100vh;
  padding: 0 2rem;

  @media (min-width: 450px) {
    padding: 0 3.25rem;
  }

  &__main {
    flex: 1;

    h3 .required {
      color: $orange;
    }
  }
}
