@import "./global";
@import "./header";
@import "./footer";
@import "./sample";
@import "./link";
@import "./github-corner";
@import "./code";

:root {
  --cooltipz-fontawesome: fontawesome;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 0 1.5rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.select-all {
  cursor: pointer;
  user-select: all;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.direction {
  &__examples {
    display: grid;
    gap: 0.5rem;
    grid-template: 1fr 1fr 1fr / auto auto auto;
    margin: 2rem 0;
  }
}
