$cooltipz-bg-color: #1f1f1f !default;
$cooltipz-border-width: 0 !default;
$cooltipz-border-style: solid !default;
$cooltipz-border-color: $cooltipz-bg-color !default;
$cooltipz-text-color: #fff !default;
$cooltipz-font-size: 0.75rem !default;
$cooltipz-font-family: verdana, geneva, tahoma, var(--cooltipz-fontawesome, Arial), sans-serif !default;
$cooltipz-slide: 6px !default;
$cooltipz-border-radius: 0.125rem !default;
$cooltipz-timing: 120ms !default;
$cooltipz-cursor: pointer !default;
$cooltipz-small: 6.25rem !default;
$cooltipz-medium: 12.5rem !default;
$cooltipz-large: 18.75rem !default;
$cooltipz-arrow-size: 0.3125rem !default;
$cooltipz-delay-show: 0s !default;
$cooltipz-delay-hide: 0s !default;
$cooltipz-attribute: "aria-label" !default;
$cooltipz-shadow-color: rgb(0 0 0 / 30%);
