@mixin base-animations {
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease-out 100ms;

  @media (prefers-reduced-motion: reduce) {
    @include no-animations;
  }
}

@mixin no-animations {
  transition: none;
}
