$transition-timing: 100ms;

@mixin base-animations {
  transition: all $transition-timing ease-out $transition-timing;

  @media (prefers-reduced-motion: reduce) {
    @include no-animations;
  }
}

@mixin no-animations {
  transition: none;
}
