$cooltipz-arrow-size: 5px !default;

%base-arrow {
  border: $cooltipz-arrow-size solid transparent;
  height: 0;
  width: 0;
}

@mixin arrow-down {
  @extend %base-arrow;
  border-top-color: var(--cooltipz-bg-color, #1f1f1f);
}

@mixin arrow-up {
  @extend %base-arrow;
  border-bottom-color: var(--cooltipz-bg-color, #1f1f1f);
}

@mixin arrow-left {
  @extend %base-arrow;
  border-right-color: var(--cooltipz-bg-color, #1f1f1f);
}

@mixin arrow-right {
  @extend %base-arrow;
  border-left-color: var(--cooltipz-bg-color, #1f1f1f);
}
