%sizes-common {
  white-space: normal;
}

@mixin size-fit {
  &[data-cooltipz-size = "fit"],
  &.cooltipz--fit {
    &::after {
      @extend %sizes-common;
      width: 100%;
    }
  }
}

@mixin size-small {
  &[data-cooltipz-size = "small"],
  &.cooltipz--small {
    &::after {
      @extend %sizes-common;
      width: 6.25rem;
    }
  }
}

@mixin size-medium {
  &[data-cooltipz-size = "medium"],
  &.cooltipz--medium {
    &::after {
      @extend %sizes-common;
      width: 12.5rem;
    }
  }
}

@mixin size-large {
  &[data-cooltipz-size = "large"],
  &.cooltipz--large {
    &::after {
      @extend %sizes-common;
      width: 18.75rem;
    }
  }
}
