%hide-cooltip {
  opacity: 0;
  visibility: hidden;
}

%show-cooltip {
  opacity: 1;
  visibility: visible;
}

%show-cooltip-y {
  transform: translate(-50%, 0);
}

%show-cooltip-x {
  transform: translate(0, -50%);
}
