/*! Cooltipz.css v1.6.7 | MIT License | github.com/jackdomleo7/Cooltipz.css */

@import "./variables";
@import "./tooltip";
@import "./animations";
@import "./arrow";
@import "./directions";
@import "./sizes";

/*
::before = arrow
::after = tooltip box and content
*/

[aria-label] { // Required
  &[data-cooltipz-dir], // Required
  &[class *= "cooltipz"] { // Required
    // Default
    @include tooltip;

    // Modifiers
    @include dir-top;
    @include dir-top-left;
    @include dir-top-right;
    @include dir-bottom;
    @include dir-bottom-left;
    @include dir-bottom-right;
    @include dir-left;
    @include dir-right;
    @include size-fit;
    @include size-small;
    @include size-medium;
    @include size-large;

    &[data-cooltipz-static],
    &.cooltipz--static {
      &::after,
      &::before {
        @include no-animations;
      }
    }
  }
}
